// Fonts
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;700&display=swap');

.container {
  text-align: center;
  display: grid;
  grid-template-areas: "nav dashboard";
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
  font-family: 'Quicksand', sans-serif;


  #nav{
    grid-area: nav;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 10vh;

    h1{
      margin: 1rem auto 0 auto;
      font-family: 'Pacifico', sans-serif;   
      transition: all 0.4s;     
    }
    h1:hover{
      scale: 1.1;
    }
    h4{
      margin: 0;
      font-weight: bold;
    }

    #links{
      text-align: left;
      margin: 5vh auto 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1rem;    
      overflow: hidden;

      h3{
        margin: 0;
        cursor: pointer;
        display: flex;
      }
    }

    #socials{
      height: 10vh;
      margin: auto 0 0 0;
      padding-left: 2rem;
      display: flex;

      a{
        display: flex;
        margin: auto 1rem auto 0;

        img{
          height: 4vh;
          transition: all 0.5s;
        }
        img:hover{
          scale: 1.1;
        }
      }

      h4{
        margin: auto 2rem auto auto;
      }
    }
  }

  #dashboard{
    grid-area: dashboard;
  }
}

@media (max-width: 968px) {

}